<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #F9F9F9;
    font-family: 'Hammersmith One', sans-serif;
    }

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
}

.nav {
    background-color: silver;
    text-align: center;
    color: black;
}
    .nav ul{
        padding: 0;
        display: inline-block;
        margin: 0;
    }
    .nav li {
        padding: 2px 60px;
        float: left;
    }

.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: black;
    text-align:center;
    color: white;
}
    .footer ul {
        padding: 0;
        display: inline-block;
        margin: 0;
    }
    .footer li {
        padding: 2px 60px;
        float: left;
        border: .5px solid white
    }
    li {
        list-style-position:inside;
    }

    <!-- My UX Skills section coded using CSS flex-->
    
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        background-color: DodgerBlue;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
</style>
